.App {
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

.glass {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.load-bar {
    position: relative;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
    background-color: black;
    width: 100%;
}
.bar {
    content: "";
    display: inline;
    position: absolute;
    height: 100%;
    z-index: 20;
    text-align: center;
    background-color: #b9121d;
    animation: loading 1s ease-out infinite;
    width: 30%;
}

@keyframes loading {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
